#menu {
    width: 100%;
    height: 80px;
    padding: 24px;
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background: #FFF;
    position:fixed;
}
#menu .menu-itens-left {
    display: flex;
    justify-content:flex-start;
    align-items:center;
}
#menu .menu-itens-left a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
    color: rgba(17, 17, 17, 0.7);
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.2s;
}
#menu .menu-itens-left a:hover {
    color: #8a05be;
}
#new {
    display: flex;
    justify-content:center;
    align-items:center;
}
#new p {
    padding: 2px 20px 4px;
    background: rgba(138, 5, 190, 0.1);
    border-radius: 30px;
    text-align: center;
    margin-left: 12px;
}
#new p:hover {
    background: rgba(138, 5, 190, 0.2);
}
.brand {
    margin-right: 12px;
}
.menu-itens-login {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
    color: rgb(138, 5, 190);
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid transparent;
    transition: border-color 300ms;
}
.menu-itens-login div {
    display: flex;
    justify-content:center;
    align-items:center;
}
.menu-itens-login::after {
    content: " ";
    display: block;
    width: 0;
    height: 2px;
    background:  rgb(138, 5, 190);
    transition: width 300ms;
  }
.menu-itens-login:hover::after {   
    width: 100%;
}

.menu-itens-login p {
    margin-right: 12px;
}

.menu-itens-button {
    padding: 14px 20px 14px 20px;
    border-radius: 30px;
    background: rgb(138, 5, 190);
    color: white;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
    font-size: 1.125rem;
}
.menu-itens-button:hover {
    background: rgba(138, 5, 190, 0.9);

}
.menu-itens-right {
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}